<!doctype html>
<link rel="stylesheet" type="text/css" href="/static/style.css" >
<head>
	<title>My 1st page</title>


</head>
<body>
    <div id="my_header">
        <h1>My first site</h1>
        	<button type="button">
        		<a href="#profile">Profile</a>
        	</button>
        	<button type="button">
        		<a href="#members">Members</a>
        	</button>
        	<button type="button">
        		<a href="#top">Top Members</a>
        	</button>
  </div>

	<hr>
    	<button type="button">
    		<a href="#Create">Create</a>
    	</button>
    	<ul>
          <table>
              <col width="130">
              <col width="130">
              <col width="130">
            <tr>
              <th align="left">Titel </th>
              <th align="left">Edit</th>
              <th align="left">Delete</th>
            </tr>

						<tr>
              <td>First Title</td>
              <td><button>edit</button></td>
              <td><button>delete</button></td>
            </tr>
						<tr>
              <td>Second Title</td>
              <td><button>edit</button></td>
              <td><button>delete</button></td>
            </tr>
						<tr>
              <td>Third Title</td>
              <td><button>edit</button></td>
              <td><button>delete</button></td>
            </tr>
						<tr>
              <td>Fourth Title</td>
              <td><button>edit</button></td>
              <td><button>delete</button></td>
            </tr>


        </table>
    </ul>
</body>
